@model TP.Models.WebModels.CategoryModel
@{
    ViewBag.Title = "Add Category";
    Session["MenuKey"] = "2";
    Session["SubMenuKey"] = "3";
}

<div class="portlet light bg-inverse formBodyRemoveSideSpace formBodyMinHeight">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bulb font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Category</span>
            <span class="caption-helper">@ViewBag.Title</span>
        </div>
        <div class="actions">
            <button class="btn default blue-stripe toBeHidden" id="btnFltr" type="submit" form="SupplierBankAccountForm" name="saveCreate" onclick="return (ValidateFields(event) && ValidateBill());">
                <i class="fa fa-plus-square-o"></i>
                <span class="hidden-480">
                    Save & New
                </span>
            </button>
            <button class="btn default green-stripe toBeHidden" id="btnFltr" type="submit" form="SupplierBankAccountForm" name="save" onclick="return (ValidateFields(event) && ValidateBill());">
                <i class="fa fa-save"></i>
                <span class="hidden-480">
                    Save & Close
                </span>
            </button>
            <a href="~/SupplierBankAccount/Index" class="btn default yellow-stripe">
                <i class="fa fa-list"></i>
                <span class="hidden-480">
                    All Categorys
                </span>
            </a>
        </div>
    </div>


    @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post, new { @class = "form-horizontal", @id = "SupplierBankAccountForm", role = "form" }))
    {
        <div class="portlet-body form">

            <div class="container-fluid">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.CategoryId)
                @Html.HiddenFor(m => m.RecCreatedBy)
                @Html.HiddenFor(m => m.RecCreatedDate)

                <div class="form-group margin-top-20">
                    @Html.Label("Category Name", new { @class = "col-md-3 control-label requiredLabel" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control mandatory", placeholder = "Category Name", @id = "CategoryName" })
                    </div>
                </div>
                
                <div class="form-group margin-top-20">
                    @Html.Label("Is Active", new { @class = "col-md-3 control-label requiredLabel" })
                    <div class="col-md-4">
                        @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control mandatory", @id = "IsActiveCategory" })
                    </div>
                </div>
            </div>
        </div>

    }
</div>