@model TP.Models.WebViewModels.HomeViewModel
@{
    Session["MenuKey"] = "1";
    
}

<div class="c-layout-page">
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-1 -->
    <section class="c-layout-revo-slider c-layout-revo-slider-1">
        <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
            <div class="tp-banner">
                <ul>
                    <!--BEGIN: SLIDE #1 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                        <img alt="" src="~/assets/base/img/content/backgrounds/bg-8.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!--BEGIN: MAIN TITLE -->
                        <div class="caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-30" data-speed="500" data-start="1500" data-customin="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Back.easeOut" data-splitin="none" data-splitout="none"
                             data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-main-title c-font-47 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                Tour Pakistan
                            </h3>
                            <h4 class="c-main-title c-font-35 c-font-bold c-font-center c-font-uppercase c-font-white c-block">Great journey - Fascinating places – Eternally yours</h4>
                        </div>
                        <!--END -->
                        <!--BEGIN: ACTION BUTTON -->
                        <div class="caption randomrotateout" data-x="center" data-y="center" data-hoffset="" data-voffset="120" data-speed="500" data-start="2000" data-easing="Back.easeOut">
                            <a href="#" class="c-action-btn btn btn-lg c-btn-square c-btn-border-2x c-btn-white c-btn-bold c-btn-uppercase">Explore</a>
                        </div>
                        <!--END -->
                    </li>
                    <!--END -->
                    <!--BEGIN: SLIDE #2 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                        <img alt="" src="~/assets/base/img/content/backgrounds/bg-37.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!--BEGIN: MAIN TITLE -->
                        <div class="caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-30" data-speed="500" data-start="1500" data-customin="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Back.easeOut" data-splitin="none" data-splitout="none"
                             data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-main-title c-font-55 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                One JANGO
                                <br> For every need
                            </h3>
                        </div>
                        <!--END -->
                        <!--BEGIN: ACTION BUTTON -->
                        <div class="caption randomrotateout" data-x="center" data-y="center" data-hoffset="" data-voffset="120" data-speed="500" data-start="2000" data-easing="Back.easeOut">
                            <a href="#" class="c-action-btn btn btn-lg c-btn-square c-btn-border-2x c-btn-white c-btn-bold c-btn-uppercase">Explore</a>
                        </div>
                        <!--END -->
                    </li>
                    <!--END-->
                    <!--BEGIN: SLIDE #3 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                        <img alt="" src="~/assets/base/img/content/backgrounds/bg-37.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!--BEGIN: MAIN TITLE -->
                        <div class="caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-30" data-speed="500" data-start="1500" data-customin="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Back.easeOut" data-splitin="none" data-splitout="none"
                             data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-main-title c-font-55 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                One JANGO
                                <br> For every need
                            </h3>
                        </div>
                        <!--END -->
                        <!--BEGIN: ACTION BUTTON -->
                        <div class="caption randomrotateout" data-x="center" data-y="center" data-hoffset="" data-voffset="120" data-speed="500" data-start="2000" data-easing="Back.easeOut">
                            <a href="#" class="c-action-btn btn btn-lg c-btn-square c-btn-border-2x c-btn-white c-btn-bold c-btn-uppercase">Explore</a>
                        </div>
                        <!--END -->
                    </li>
                    <!--END -->
                </ul>
            </div>
        </div>
    </section>
    <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-1 -->
    <!-- BEGIN: CONTENT/MISC/SUBSCRIBE-FORM-1 -->
    <div class="c-content-box c-size-sm c-bg-dark">
        <div class="container">
            <div class="c-content-subscribe-form-1">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="c-title c-font-30 c-font-uppercase c-font-bold">Subscribe to our newsletter</h3>
                        <div class="c-body c-font-16 c-font-uppercase c-font-sbold">Sign up to our newsletter to remain acquainted to our latest offers and places</div>
                    </div>
                    <div class="col-sm-6">
                        <form action="#">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control input-lg" placeholder="Your Email Here">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square">SUBSCRIBE</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/MISC/SUBSCRIBE-FORM-1 -->
    <!-- BEGIN: CONTENT/FEATURES/FEATURES-1 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="c-content-feature-1 wow animate fadeInUp">
                        <div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
                        <h3 class="c-font-uppercase c-font-bold">About</h3>
                        <p class="c-font-thin">Information on what we do and what we offer to the tourists</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.2s">
                        <div class="c-content-line-icon c-theme c-icon-support"></div>
                        <h3 class="c-font-uppercase c-font-bold">Locations</h3>
                        <p class="c-font-thin">
                            Places that are finely stirred with nature and scenic beauty
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 c-card">
                    <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.4s">
                        <div class="c-content-line-icon c-theme c-icon-bulb"></div>
                        <h3 class="c-font-uppercase c-font-bold">Events</h3>
                        <p class="c-font-thin">
                            Keep yourself updated with upcoming events across the locations
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/FEATURES/FEATURES-1 -->
    <!-- BEGIN: CONTENT/PORTFOLIO/LATEST-WORKS-1 -->
    <div class="c-content-box c-size-md c-bg-grey-1">
        <div class="container">
            <div class="c-content-title-1">
                <h3 class="c-center c-font-uppercase c-font-bold">Latest Portfolio</h3>
                <div class="c-line-center c-theme-bg"></div>
                <p class="c-center c-font-uppercase">Browse through our portfolio to witness the charm that nature has to offer to visitors</p>
            </div>
            <div class="cbp-panel">
                <!-- SEE: components.js:ContentCubeLatestPortfolio -->
                <div class="c-content-latest-works cbp cbp-l-grid-masonry-projects wow animate fadeInLeft">

                    @foreach (var location in Model.Locations)
                    {
                        <div class="cbp-item wow animate fadeInLeft customHeightItem" data-wow-delay="0.4s">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="@location.ImageBase64" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="c-masonry-border"></div>
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <a href="@Url.Action("LocationDetail","Category")/@location.LocationId" class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">explore</a>
                                            @if (location.LocationId == 22)
                                            {
                                                <a href="@Model.Locations.First().ImageBase64" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title='@location.AreaName <br/> @location.LocationName'>zoom</a>
                                            }
                                            else
                                            {
                                                <a href="@location.ImageBase64" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title='@location.AreaName <br/> @location.LocationName'>zoom</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/PORTFOLIO/LATEST-WORKS-1 -->
    <!-- BEGIN: CONTENT/BARS/BAR-1 -->
    <div class="c-content-box c-size-md">
        <div class="container">
            <div class="c-content-bar-1 c-opt-1">
                <h3 class="c-font-uppercase c-font-bold">TourPakistan – Your Own Travel Assistant</h3>
                <p class="c-font-uppercase">
                    TourPakistan is an online platform that provides complete
                    information about places that you’ll love to pay visit to.
                </p>
                <button type="button" class="btn btn-md c-btn-square c-btn-border-2x c-btn-dark c-btn-uppercase c-btn-bold c-margin-r-40 hide">Learn More</button>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/BARS/BAR-1 -->
    <!-- BEGIN: CONTENT/MISC/LATEST-ITEMS-1 -->
    <div class="c-content-box c-size-md c-bg-grey-1">
        <div class="container">
            <button type="button" class="btn btn-md c-btn-square c-theme-btn c-btn-uppercase c-btn-bold">Trending Places</button>

            <div class="row" data-auto-height="true">
                <div class="col-md-4 c-margin-b-30 wow animate fadeInDown">
                    <div class="c-content-media-1" data-height="height">
                        <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Blog</div>
                        <a href="#" class="c-title c-font-uppercase c-font-bold c-theme-on-hover">Take the web by storm with JANGO</a>
                        <p>Lorem ipsum dolor sit amet, coectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat</p>
                        <div class="c-author">
                            <div class="c-portrait" style="background-image: url(/assets/base/img/content/team/team1.jpg)"></div>
                            <div class="c-name c-font-uppercase">Jack Nilson</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 c-margin-b-30 wow animate fadeInDown" data-wow-delay="0.2s">
                    <div class="c-content-media-1" data-height="height">
                        <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">News</div>
                        <a href="#" class="c-title c-font-uppercase c-font-bold c-theme-on-hover">The Multi-purpose HTML5 Theme</a>
                        <p>Lorem ipsum dolor sit amet, coectetuer diam nonummy adipiscing elit sit amet, sit amet, coectetuer adipiscing elit adipiscing consectetuer </p>
                        <div class="c-date"> 27 Jan 2015 </div>
                    </div>
                </div>
                <div class="col-md-4 c-margin-b-30 wow animate fadeInDown" data-wow-delay="0.4s">
                    <div class="c-content-v-center c-theme-bg" data-height="height">
                        <div class="c-wrapper">
                            <div class="c-body c-center">
                                <h3 class="c-font-25 c-line-height-34 c-font-white c-font-uppercase c-font-bold"> Nothing is impossible for JANGO. Highly Flexible, always growing</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 wow animate fadeInLeft">
                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                        <div class="c-content-label c-font-uppercase c-font-bold">Latest Uploads</div>
                        <div class="owl-carousel owl-theme c-theme owl-single">
                            <div class="item">
                                <div class="c-content-media-2 c-bg-img-center" style="background-image: url(/assets/base/img/content/stock3/18.jpg); min-height: 360px;">
                                    <div class="c-panel">
                                        <div class="c-fav">
                                            <i class="icon-heart c-font-thin"></i>
                                            <p class="c-font-thin">16</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="c-content-media-2 c-bg-img-center" style="background-image: url(/assets/base/img/content/stock3/22.jpg); min-height: 360px;">
                                    <div class="c-panel">
                                        <div class="c-fav">
                                            <i class="icon-heart c-font-thin"></i>
                                            <p class="c-font-thin">24</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="c-content-media-2 c-bg-img-center" style="background-image: url(/assets/base/img/content/stock3/32.jpg); min-height: 360px;">
                                    <div class="c-panel">
                                        <div class="c-fav">
                                            <i class="icon-heart c-font-thin"></i>
                                            <p class="c-font-thin">19</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow animate fadeInRight">
                    <div class="c-content-testimonial-2-slider" data-slider="owl" data-single-item="true" data-auto-play="6000">
                        <div class="c-title c-font-uppercase c-theme-bg">Upcoming Events</div>
                        <div class="owl-carousel owl-theme c-theme owl-single">
                            @foreach (var events in Model.Events)
                            {
                                <div class="item">
                                    <div class="c-content-testimonial-2" style="min-height: 360px;">
                                        <div class="c-testimonial c-font-bold c-font-uppercase"><a href="#">@events.Title</a></div>
                                        <div class="c-testimonial">Event Date: <br />@events.ScheduledDate.Value.ToString("dd-MMM-yyyy")</div>
                                        <div class="c-author">
                                            <div class="c-portrait" style="background-image: url(data:image/png;base64,@events.LocationImage)"></div>
                                            <div class="c-name c-font-uppercase"><a class="cbp-singlePage" href="@Url.Action("LocationDetail","Category")/@events.LocationId">@events.LocationName</a></div>
                                            <p class="c-position c-theme c-font-uppercase">@events.RecCreatedByName</p>
                                        </div>
                                    </div>
                                </div>

                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/MISC/LATEST-ITEMS-1 -->
<!-- END: PAGE CONTENT -->
</div>

