<header class="c-layout-header c-layout-header-4 c-layout-header-default-mobile" data-minimize-offset="80">
    <div class="c-navbar">
        <div class="container">
            <!-- BEGIN: BRAND -->
            <div class="c-navbar-wrapper clearfix">
                <div class="c-brand c-pull-left">
                    <a href="#" class="c-logo">
                        <h3 class="c-font-uppercase c-font-bold c-font-black">
                            Tour
                            <span class="c-theme-font">Pakistan</span>
                        </h3>
                    </a>
                    <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                    </button>
                    <button class="c-search-toggler" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <!-- END: BRAND -->
                <!-- BEGIN: QUICK SEARCH -->
                <form class="c-quick-search" action="#">
                    <input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
                    <span class="c-theme-link">×</span>
                </form>
                <!-- END: QUICK SEARCH -->
                <!-- BEGIN: HOR NAV -->
                <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
                <!-- BEGIN: MEGA MENU -->
                <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
                <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
                    <ul class="nav navbar-nav c-theme-nav">
                        <li class='@((string) Session["MenuKey"] == "1" ? "c-active" : "")'>
                            <a href="@Url.Action("Index","Home")" class='c-link dropdown-toggle '>
                                <span class="c-arrow c-toggler"></span>
                                Home
                            </a>
                            @*<div class="dropdown-menu c-menu-type-mega c-menu-type-fullwidth" style="min-width: auto">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="dropdown-menu c-menu-type-inline">
                            <li>
                                <h3>Home Samples</h3>
                            </li>
                            <li>
                                <a href="index-2.html">Home Version 1</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>*@
                        </li>
                        <li class="c-menu-type-classic @((string) Session["MenuKey"] == "2" ? "c-active" : "")">
                            <a href="@Url.Action("About", "Home")" class="c-link dropdown-toggle">
                                <span class="c-arrow c-toggler"></span>
                                About
                            </a>
                        </li>
                        <li class='@((string) Session["MenuKey"] == "3" ? "c-active" : "")'>
                            <a href="@Url.Action("Index", "Category")" class="c-link dropdown-toggle">
                                <span class="c-arrow c-toggler"></span>
                                Categories
                            </a>
                        </li>
                        <li class='@((string) Session["MenuKey"] == "6" ? "c-active" : "")'>
                            <a href="@Url.Action("Index", "Event")" class="c-link dropdown-toggle">
                                <span class="c-arrow c-toggler"></span>
                                Events
                            </a>
                        </li>
                        <li class='@((string) Session["MenuKey"] == "4" ? "c-active" : "")'>
                            <a href="@Url.Action("Contact", "Home")" class="c-link dropdown-toggle">
                                <span class="c-arrow c-toggler"></span>
                                Contact
                            </a>


                        </li>
                        <li class='@((string) Session["MenuKey"] == "5" ? "c-active" : "")'>
                            <a href="@Url.Action("Faq", "Home")" class="c-link dropdown-toggle">
                                <span class="c-arrow c-toggler"></span>
                                FAQ
                            </a>
                        </li>
                        <li class="c-search-toggler-wrapper">
                            <a href="#" class="c-btn-icon c-search-toggler">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="#" data-toggle="modal" id="headerLoginLink" data-target="#login-form" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold">
                                    <i class="icon-user"></i> Sign In
                                </a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="@Url.Action("LogOff", "Account")" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold">
                                    <i class="icon-user"></i> Logout
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
                <!-- END: MEGA MENU -->
                <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
                <!-- END: HOR NAV -->
            </div>
            <!-- BEGIN: LAYOUT/HEADERS/QUICK-CART -->
            <!-- END: LAYOUT/HEADERS/QUICK-CART -->
        </div>
    </div>
</header>
