@using System.Globalization
@model List<TP.Models.WebModels.SeasonModel>
@{
    ViewBag.Title = "Season Management";
    Session["MenuKey"] = "2";
    Session["SubMenuKey"] = "3";
}


<div class="portlet light bg-inverse formBodyRemoveSideSpace formBodyMinHeight">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bulb font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Season</span>
            <span class="caption-helper">@ViewBag.Title</span>
        </div>
        <div class="actions">
            <a href="@Url.Action("AddSeason","Season")" class="btn default yellow-stripe">
                <i class="fa fa-plus"></i>
                <span class="hidden-480">
                    Add New Season
                </span>
            </a>

            @*<a href="javascript:;" class="btn default red-stripe" id="btnResetFltr">
                    <i class="fa fa-recycle"></i>
                    <span class="hidden-480">
                        Reset
                    </span>
                </a>
                <a href="javascript:;" class="btn default blue-stripe" id="btnFltr">
                    <i class="fa fa-filter"></i>
                    <span class="hidden-480">
                        Filter
                    </span>
                </a>*@
        </div>
    </div>

    <div class="portlet-body form">
        <form class="form-horizontal">
            <div class="form-body">
                <div class="portlet box">
                    <div class="portlet-body flip-scroll">
                        <table id="dataTable" class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="" style="width: 15%">Season Id</th>
                                    <th class="">Season Name</th>
                                    <th class="">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Season in Model)
                                {
                                    <tr>
                                        <td>@Season.SeasonId</td>
                                        <td>@Season.SeasonName</td>
                                        <td><a href="@Url.Action("AddSeason","Season")/@Season.SeasonId" class="btn btn-sm blue-steel"><i class="fa fa-edit"></i> Edit</a></td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#dataTable').dataTable({
            "sPaginationType": "full_numbers",
            "iDisplayLength": 10,
            //"bFilter": true,
            "searching": true,
            "bLengthChange": false,
            //select: true,
            "info": true
    });
    });
</script>



