@using Newtonsoft.Json
@model TP.Models.WebViewModels.EventViewModel
@{
    ViewBag.Title = "Add Event";
    Session["MenuKey"] = "2";
    Session["SubMenuKey"] = "3";
}
<style>
    .select2Icon {
        height: 40px !important;
        width: 40px !important;
    }
</style>
<div class="portlet light bg-inverse formBodyRemoveSideSpace formBodyMinHeight">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bulb font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Event</span>
            <span class="caption-helper">@ViewBag.Title</span>
        </div>
        <div class="actions">
            <button class="btn default blue-stripe toBeHidden" id="btnFltr" type="submit" form="SupplierBankAccountForm" name="saveCreate" onclick="return (ValidateFields(event) && ValidateBill());">
                <i class="fa fa-plus-square-o"></i>
                <span class="hidden-480">
                    Save & New
                </span>
            </button>
            <button class="btn default green-stripe toBeHidden" id="btnFltr" type="submit" form="SupplierBankAccountForm" name="save" onclick="return (ValidateFields(event) && ValidateBill());">
                <i class="fa fa-save"></i>
                <span class="hidden-480">
                    Save & Close
                </span>
            </button>
            <a href="@Url.Action("EventIndex", "Event")" class="btn default yellow-stripe">
                <i class="fa fa-list"></i>
                <span class="hidden-480">
                    All Events
                </span>
            </a>
        </div>
    </div>


    @using (Html.BeginForm("AddEvent", "Event", FormMethod.Post, new {@class = "form-horizontal", @id = "SupplierBankAccountForm", role = "form"}))
    {
        <div class="portlet-body form">

            <div class="container-fluid">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Event.EventId)
                @Html.HiddenFor(m => m.Event.RecCreatedBy)
                @Html.HiddenFor(m => m.Event.RecCreatedDate)

                <div class="form-group margin-top-20">
                    @Html.Label("Event Name", new {@class = "col-md-3 control-label requiredLabel"})
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Event.Title, new {@class = "form-control mandatory", placeholder = "Event Title"})
                    </div>
                </div>

                <div class="form-group margin-top-20">
                    @Html.Label("Location", new {@class = "col-md-3 control-label requiredLabel"})
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.Event.LocationId, new SelectList(Model.Locations, "LocationId", "LocationName", Model.Event.LocationId), "", new {@class = "form-control"})
                    </div>
                </div>

                <div class="form-group margin-top-20">
                    @Html.Label("Event Description", new {@class = "col-md-3 control-label requiredLabel"})
                    <div class="col-md-4">
                        @Html.TextAreaFor(m => m.Event.Description, new {@class = "form-control mandatory", placeholder = "Event Description"})
                    </div>
                </div>

                <div class="form-group margin-top-20">
                    @Html.Label("Starting Date", new {@class = "col-md-3 control-label requiredLabel"})
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Event.ScheduledDate, "{0:dd-MMM-yyyy}", new { @class = "form-control mandatory datepickerFormated cursorHand", placeholder = "Starting Date", @readonly = true })
                    </div>
                </div>

                <div class="form-group margin-top-20">
                    @Html.Label("Ending Date", new {@class = "col-md-3 control-label requiredLabel"})
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Event.EndDate, "{0:dd-MMM-yyyy}", new { @class = "form-control mandatory datepickerFormated cursorHand", placeholder = "Ending Date", @readonly = true })
                    </div>
                </div>

                <div class="form-group margin-top-20">
                    @Html.Label("Registration Start", new {@class = "col-md-3 control-label requiredLabel"})
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Event.RegistrationStartDate, "{0:dd-MMM-yyyy}", new { @class = "form-control mandatory datepickerFormated cursorHand", placeholder = "Registration Start", @readonly = true })
                    </div>
                </div>

                <div class="form-group margin-top-20">
                    @Html.Label("Registration End", new {@class = "col-md-3 control-label requiredLabel"})
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Event.RegistrationEndDate, "{0:dd-MMM-yyyy}", new { @class = "form-control mandatory datepickerFormated cursorHand", placeholder = "Registration End", @readonly = true })
                    </div>
                </div>

            </div>
        </div>

    }
</div>

<script>
    $(document).ready(function () {
        function format(state) {
            if (!state.id) return state.text; // optgroup
            return "<img class='select2Icon' src='@Url.Action("GetImage")/"+ state.id +"'/>&nbsp;&nbsp;" + state.text;


        }

        $('#Event_LocationId').select2({
            placeholder: '<i class="fa fa-map-marker"></i>&nbsp;Select a Location',
            allowClear: true,
            formatResult: format,
            formatSelection: format,
            escapeMarkup: function (m) {
                return m;
            }
        });
    });
</script>