@using System.Globalization
@using System.Security.Policy
@using TP.Models.DomainModels
@model List<TP.Models.WebModels.LocationModel>
@{
    ViewBag.Title = "Location Management";
    Session["MenuKey"] = "2";
    Session["SubMenuKey"] = "3";
}


<div class="portlet light bg-inverse formBodyRemoveSideSpace formBodyMinHeight">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bulb font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Location</span>
            <span class="caption-helper">@ViewBag.Title</span>
        </div>
        <div class="actions">
            <a href="@Url.Action("AddLocation","Location")" class="btn default yellow-stripe">
                <i class="fa fa-plus"></i>
                <span class="hidden-480">
                    Add New Location
                </span>
            </a>

            @*<a href="javascript:;" class="btn default red-stripe" id="btnResetFltr">
                    <i class="fa fa-recycle"></i>
                    <span class="hidden-480">
                        Reset
                    </span>
                </a>
                <a href="javascript:;" class="btn default blue-stripe" id="btnFltr">
                    <i class="fa fa-filter"></i>
                    <span class="hidden-480">
                        Filter
                    </span>
                </a>*@
        </div>
    </div>

    <div class="portlet-body form">
        <form class="form-horizontal">
            <div class="form-body">
                <div class="portlet box">
                    <div class="portlet-body flip-scroll">
                        <table id="dataTable" class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="" style="width: 15%">Location Id</th>
                                    <th class="">Location Name</th>
                                    <th class="">Description</th>
                                    <th class="">Area</th>
                                    <th class="">Province</th>
                                    <th class="">Category</th>
                                    <th class="">State</th>
                                    <th class="">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Location in Model)
                                {
                                    <tr>
                                        <td>@Location.LocationId</td>
                                        <td>@Location.LocationName</td>
                                        <td>@Location.LocationDescription</td>
                                        <td>@Location.AreaName</td>
                                        <td>@Location.ProvinceName</td>
                                        <td>@Location.CategoryName</td>
                                        <td>
                                            @if (Location.IsActive)
                                            {
                                                <button class="btn green-haze">Active</button>
                                            }
                                            else
                                            {
                                                <button class="btn red-flamingo">In active</button>
                                            }
                                        </td>
                                        <td>
                                            <a href="@Url.Action("AddLocation","Location")/@Location.LocationId" class="btn btn-sm blue-steel"><i class="fa fa-edit"></i> Edit</a>
                                            <a href="@Url.Action("Delete","Location")/@Location.LocationId" class="btn btn-sm red-flamingo"><i class="fa fa-edit"></i> Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#dataTable').dataTable({
            "sPaginationType": "full_numbers",
            "iDisplayLength": 10,
            //"bFilter": true,
            "searching": true,
            "bLengthChange": false,
            //select: true,
            "info": true
    });
    });
</script>



