@model List<TP.Models.WebViewModels.CategoryViewModel>
@{
    Session["MenuKey"] = "3";
}

<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
    <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">Masonry Gallery</h3>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li>
                    <a href="#">Pages</a>
                </li>
                <li>/</li>
                <li>
                    <a href="#">Masonry Gallery</a>
                </li>
                <li>/</li>
                <li class="c-state_active">Jango Components</li>
            </ul>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
    <!-- BEGIN: PAGE CONTENT -->
    <div class="c-content-box c-size-md">
        <div class="container">
            <div class="cbp-panel">
                <div id="filters-container" class="cbp-l-filters-buttonCenter">
                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                        All
                        <div class="cbp-filter-counter"></div>
                    </div>
                    @foreach (var category in Model)
                    {
                        <div data-filter=".@category.CategoryName.Replace(" ", "_")" class="cbp-filter-item">
                            @category.CategoryName
                            <div class="cbp-filter-counter"></div>
                        </div>

                    }
                </div>
                <div id="grid-container" class="cbp cbp-l-grid-masonry-projects">
                    @foreach (var category in Model)
                    {
                        foreach (var location in category.Locations)
                        {
                            <div class="cbp-item @category.CategoryName.Replace(" ", "_") customHeightItem">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="@location.ImageBase64" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="c-masonry-border"></div>
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="@Url.Action("LocationDetail","Category")/@location.LocationId" class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">Explore</a>
                                                <a href="@location.ImageBase64" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="<strong>@location.LocationName</strong> <br> @location.LocationDescription">Zoom</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="@Url.Action("LocationDetail","Category")/@location.LocationId" class="cbp-singlePage cbp-l-grid-masonry-projects-title">@location.LocationName</a>
                                <div class="cbp-l-grid-masonry-projects-desc">@category.CategoryName</div>
                            </div>

                        }
                    }
                </div>
                @*<div id="loadMore-container" class="cbp-l-loadMore-button c-margin-t-60">
                        <a href="~/ajax/masonry-gallery/load-more.html" class="cbp-l-loadMore-link btn c-btn-square c-btn-border-2x c-btn-dark c-btn-bold c-btn-uppercase">
                            <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
                            <span class="cbp-l-loadMore-loadingText">LOADING...</span>
                            <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
                        </a>
                    </div>*@
            </div>
        </div>
    </div>
    <!-- END: PAGE CONTENT -->
</div>
@section PageScripts
{
    <script src="~/assets/base/js/scripts/pages/masonry-gallery.js" type="text/javascript"></script>
}
