@model  TP.Models.IdentityModels.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="portlet box blue-hoki">
        <div class="portlet-title">

            <div class="tools">
                <button type="submit" class="btn blue" onclick="return(ValidateFields(event) && validateUserPassword(event));">Submit</button>
                <a href="~/Account/Users">
                    <button type="button" class="btn default">Cancel</button>
                </a>
            </div>
            <div class="caption">
                <i class="fa fa-male"></i>Create/Update Employees
            </div>
        </div>

        @Html.Partial("_Alert")



        @Html.AntiForgeryToken()
        <div class="portlet-body form">
            <div class="container-fluid">

                <div class="form-group margin-top-20">
                    <label class="col-md-3 control-label" name="LastName">Old Passowrd</label>
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control mandatory", @placeholder = "Old Password" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" name="LastName">New Passowrd</label>
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control mandatory", @placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" name="LastName">Confirm Passowrd</label>
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control mandatory", @placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>

                </div>
            </div>

        </div>


    </div>
}

