@model TP.Models.IdentityModels.ViewModels.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reset password";
}


<div class="main">
    <div class="container">
        <div class="row margin-bottom-40">
            <div class="sidebar col-md-3 col-sm-3">
                </div>
                <div class="col-md-9 col-sm-9">
                    <h1>Reset Password</h1>
                    <div class="content-form-page">
                        <div class="row">
                            <div class="col-md-7 col-sm-7">
                                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })



                                    <div class="form-group">
                                        <label for="email" class="col-lg-4 control-label">Email</label>
                                        <div class="col-lg-8">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control mandatory", placeholder = "Username" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-lg-4 control-label">New Password</label>
                                        <div class="col-lg-8">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control mandatory", placeholder = "New Password" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-lg-4 control-label">Confirm Password</label>
                                        <div class="col-lg-8">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
    <input type="submit" class="btn btn-large btn-info btn-login" style="margin-left: 145px" onclick="return ValidateFields();" value="Reset Password" />
                                    @Html.HiddenFor(model => model.Code)
                                }
                            </div>


                        </div>

                    </div>
                </div>


            </div>
    </div>
</div>
