<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>@ViewBag.Title - InnoSTARK Technologies</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" /> <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/styleIST.css" rel="stylesheet" />
    <link href="~/Content/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/toastr.css" rel="stylesheet" />
    <link href="~/Content/css/datepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Content/global/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/Content/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->

    <script src="~/Content/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
</head>
<body >
    <div>
        @RenderBody()
    </div>
    @if (ViewBag.MessageVM != null)
    {
        <input type="hidden" id="Message" value="@ViewBag.MessageVM.Message" />
        <input type="hidden" id="IsSaved" value="@ViewBag.MessageVM.IsSaved" />
        <input type="hidden" id="IsUpdated" value="@ViewBag.MessageVM.IsUpdated" />
        <input type="hidden" id="IsError" value="@ViewBag.MessageVM.IsError" />
    }
</body>
</html>
