@using System.Configuration
@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Tour Pakistan</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" /> <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/css/fonts-googleapis.css" rel="stylesheet" />
    <link href="~/Content/css/styleIST.css" rel="stylesheet" />
    <link href="~/Content/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/toastr.css" rel="stylesheet" />
    <link href="~/Content/css/datepicker.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" />
@*    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
    <link href="~/Content/global/plugins/jquery-ui/jquery-ui-1.11.4.css" rel="stylesheet" />

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Content/global/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/Content/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/jquery.dataTables.css" rel="stylesheet" />
    <!-- END THEME STYLES -->

    <script src="~/Content/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/App/jquery.dataTables.js"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    

    <link href="~/Content/css/select2.css" rel="stylesheet" />
   
   
</head>

<body class="page-header-fixed page-quick-sidebar-over-content">
    <!-- BEGIN HEADER -->
@Html.Partial("~/Views/Shared/_TopNavbar.cshtml")
    <!-- END HEADER -->
    <div class="clearfix"></div>
    <div class="page-container containerBG">
        <!-- BEGIN Mobile SIDEBAR -->
               @Html.Partial("~/Views/Shared/_SidebarMenu.cshtml")
        <!-- END Mobile SIDEBAR -->
        <div class="page-content-wrapper">
            <div class="page-content">

                @RenderBody()

            </div>
        </div>
        @if (ViewBag.MessageVM != null)
        {
            <input type="hidden" id="Message" value="@ViewBag.MessageVM.Message" />
            <input type="hidden" id="IsSaved" value="@ViewBag.MessageVM.IsSaved" />
            <input type="hidden" id="IsUpdated" value="@ViewBag.MessageVM.IsUpdated" />
            <input type="hidden" id="IsError" value="@ViewBag.MessageVM.IsError" />
            <input type="hidden" id="IsInfo" value="@ViewBag.MessageVM.IsInfo" />
        }
    </div>

    <div class="page-footer" style="background-color: #333">
        <div class="page-footer-inner">
            @DateTime.Now.Year &copy; Tour Pakistan - Admin Panel.
        </div>
        @*<div class="scroll-to-top" style="display: block;">
            <i class="icon-arrow-up"></i>
        </div>*@
    </div>
    @if (Request.Url.Host.ToLower().Contains("localhost"))
    {
        <input type="hidden" id="siteURL" value="http://localhost:34567/" />
    }
    else
    {
        <input type="hidden" id="siteURL" value="@( "http://"+Request.Url.Host.ToLower()+"/")" />
    }
    <script src="~/Content/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/Scripts/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js" type="text/javascript"></script>
    <script src="~/Content/Admin/pages/scripts/ui-confirmations.min.js" type="text/javascript"></script>
    <script src="~/Content/Admin/pages/scripts/ui-extended-modals.js"></script>
    <script src="~/Scripts/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
    <script src="~/Scripts/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
    @*<script src="~/Scripts/layout.js"></script>*@


    <script src="~/Content/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/Content/Admin/layout/scripts/layout.js"></script>
    <script src="~/Content/Admin/layout/scripts/quick-sidebar.js"></script>

    <script src="~/Scripts/App/ValidateFields.js"></script>

    <script src="~/Scripts/App/toastr.js"></script>
    <script src="~/Scripts/App/architecture.js"></script>
    <script src="~/Scripts/Functions/scriptIST.js"></script>
    <script src="~/Content/Admin/pages/scripts/table-ajax.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init();
            QuickSidebar.init(); // init quick sidebar
        });
    </script>
</body>
</html>