 <div class="page-sidebar-wrapper">
            <!-- BEGIN HORIZONTAL RESPONSIVE MENU -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu page-sidebar-closed page-sidebar-menu-closed" data-slide-speed="200" data-auto-scroll="true">
                    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                    <li class="sidebar-toggler-wrapper">
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler">
                        </div>
                        <!-- END SIDEBAR TOGGLER BUTTON -->
                    </li>
                    <!-- DOC: This is mobile version of the horizontal menu. The desktop version is defined(duplicated) in the header above -->

                    <li class=@( (Session["MenuKey"] != null && Session["MenuKey"].ToString() == "1") ? "active start open" : "start")>
                        <a href="~/Dashboard/Index" class="WhiteColor">
                            <i class="icon-home"></i>
                            <span class="title">Home</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class=@( (Session["MenuKey"] != null && Session["MenuKey"].ToString() == "2") ? "active" : "")>
                            <a href="javascript:;">
                                <i class="icon-basket-loaded"></i>
                                <span class="title">Data Management</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li class=@( (Session["SubMenuKey"] != null && Session["SubMenuKey"].ToString() == "1") ? "active" : "")>
                                    <a href="@Url.Action("LocationIndex","Location")" class="WhiteColor">
                                        <i class="icon-graph"></i>
                                        <span class="title">Locations</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li class=@( (Session["SubMenuKey"] != null && Session["SubMenuKey"].ToString() == "2") ? "active" : "")>
                                    <a href="@Url.Action("AreaIndex","Area")" class="nav-link ">
                                        <i class="icon-graph"></i>
                                        <span class="title">Areas</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li class=@( (Session["SubMenuKey"] != null && Session["SubMenuKey"].ToString() == "3") ? "active" : "")>
                                    <a href="@Url.Action("ProvinceIndex","Province")" class="nav-link ">
                                        <i class="icon-graph"></i>
                                        <span class="title">Provinces</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li class=@( (Session["SubMenuKey"] != null && Session["SubMenuKey"].ToString() == "4") ? "active" : "")>
                                    <a href="@Url.Action("CategoryIndex","Category")" class="nav-link ">
                                        <i class="icon-graph"></i>
                                        <span class="title">Categories</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li class=@( (Session["SubMenuKey"] != null && Session["SubMenuKey"].ToString() == "5") ? "active" : "")>
                                    <a href="@Url.Action("SeasonIndex","Season")" class="nav-link ">
                                        <i class="icon-graph"></i>
                                        <span class="title">Seasons</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li class=@( (Session["SubMenuKey"] != null && Session["SubMenuKey"].ToString() == "6") ? "active" : "")>
                                    <a href="@Url.Action("EventIndex","Event")" class="nav-link ">
                                        <i class="icon-graph"></i>
                                        <span class="title">Events</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class=@( (Session["MenuKey"] != null && Session["MenuKey"].ToString() == "3") ? "active" : "")>
                            <a href="javascript:;">
                                <i class="icon-basket-loaded"></i>
                                <span class="title">User Management</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li class=@( (Session["SubMenuKey"] != null && Session["SubMenuKey"].ToString() == "1") ? "active" : "")>
                                    <a href="#" class="nav-link ">
                                        <i class="icon-user-follow"></i>
                                        <span class="title">Users</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li class=@( (Session["SubMenuKey"] != null && Session["SubMenuKey"].ToString() == "2") ? "active" : "")>
                                    <a href="#" class="nav-link ">
                                        <i class="icon-user-follow"></i>
                                        <span class="title">Company</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
            <!-- END HORIZONTAL RESPONSIVE MENU -->
        </div>
